body {
  font-family: 'Indie Flower', cursive;
  height: 100vh;
  background-color: 	#a3b5de;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
}

.container {
  max-width: 600px;
  align-self: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 32px 64px;
  border-radius: 24px;
  background-color: #f3efef;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

button {
  font-family: 'Indie Flower', cursive;
  font-size: 1.2rem;
  width: 300px;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  color: #ffffff;
}

button:hover {
  transition: 200ms;
  transform: scale(1.05);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.play-button {
  height: 50px;
  background: 	#365673;
  font-size: 1.8rem;
  transition: 200ms;
}

.select-button{
  height: 35px;
  margin: 6px 0;
}

.select-button:nth-child(3) {
  background: #6fa8dc;
}

.select-button:nth-child(4) {
  background: #2c73b3;
}

.select-button:nth-child(5) {
  background: #0a4c87;
}

.select-button:nth-child(6) {
  background: #073763;
}
.select-button:nth-child(7) {
  background: #062847;
}

.back-button {
  margin-top: 24px;
  align-self: flex-start;
  width: 70px;
  height: 35px;
  background: #365673;
}
/* .container button {
  width: 30vh;
  height: 35px;
  border-radius: 5px;
  background-color: #00ced1;
  border: none;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  transition: 200ms;
} */



.container img {
  width: 300px;
  margin-bottom: 16px;
}

.stats-wrapper {
  display: flex;
  justify-content: space-between;
  width: 35vh;
  font-weight: bold;
}

.stats-wrapper p {
  display: inline-block;
}

.warning-wrapper {
  position: absolute;
  top: 0;
  color: white;
  border-radius: 12px;
  padding: 8px;
  margin: 16px;
}

.number-button {
  width: 40px !important;
  margin: 5px;
}