body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  height: 100vh;
  background-color: #e1e8ff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
}

.container {
  max-width: 600px;
  align-self: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 32px 64px;
  border-radius: 24px;
  background-color: #f3efef;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.container input {
  width: 32vh;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 4px;
  border: 2px solid #00ced1;
}

.container button {
  width: 30vh;
  height: 35px;
  border-radius: 5px;
  background-color: #00ced1;
  border: none;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  transition: 200ms;
}

.container button:hover {
  transition: 200ms;
  transform: scale(1.05);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.container img {
  width: 300px;
  margin-bottom: 16px;
}

.stats-wrapper {
  display: flex;
  justify-content: space-between;
  width: 35vh;
  font-weight: bold;
}

.stats-wrapper p {
  display: inline-block;
}

.warning-wrapper {
  position: absolute;
  top: 0;
  color: white;
  border-radius: 12px;
  padding: 8px;
  margin: 16px;
}

.number-button {
  width: 40px !important;
  margin: 5px;
}